<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block head %}
            <title>Gym Manger</title>
        {% endblock %}
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="menu">
                <a href="/instructors">Instructors</a>
                <a href="/members">Members</a>
            </div>
            
        </header>

        {% block content %}{% endblock %}

        <script src="/scripts.js"></script>
     </body>
</html>