@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --primary-color: #7159c1;
    --secondary-color: #F7DF1E;
}
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}
.menu {
    font-size: 22px;
}

.menu a {
    text-decoration: none;
    position: relative;
    color: #777;
}

.menu a + a {
    margin-left: 32px;
}

.menu a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.menu a:hover {
    color: var(--primary-color);
}

.menu a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.menu a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 2px 6px -2px rgb(0, 0, 0, 0.4);
    /* animation: up 200ms ease*/
    animation-name: up;
    animation-duration: 200ms;
    animation-timing-function: ease;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    ;padding: 16px 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    color: #777;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.7px;
}

.details .item div:nth-child(2) {
    color: #555;
    font-size: 18px;
    font-weight: bold;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    color: #777;
    border-radius: 16px;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

input {
    width: 100%;
    outline: none;
    color: #555;
    font-size: 18px;
    font-weight: bold;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"],
a.button {
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: whitesmoke;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}